<h3>Questions List</h3>

<!-- Search box -->
<form *ngIf="!currentAppliedFilter" #searchForm (ngSubmit)="onSearchSubmit(f, $event)">
    <mat-form-field class="search-box">
        <input type="text" #searchInput matInput placeholder="Search" name="searchInput" [(ngModel)]="searchInputValue">
        <mat-icon matSuffix (click)="onSearchSubmit()">search</mat-icon>
    </mat-form-field>
</form>

<!-- Title when filter is active -->
<div *ngIf="currentAppliedFilter" class="line-block">
    <h4>Results filtered by '
        <span class="search-txt">{{currentAppliedFilter}}</span>'
    </h4>
    <div class="action">
        <button type="button" mat-stroked-button (click)="onSearchCancel()">Dismiss search</button>
        <button type="button" mat-flat-button (click)="shareScreen()">Share</button>
    </div>
</div>

<!-- Questions List -->
<ul class="questions">
    <li *ngFor="let question of questions" routerLink="/questions/{{question.id}}">
            <img src="{{question.thumb_url}}">
            {{question.id}} . {{question.question}}
    </li>
    <li *ngIf="questions.length == 0">
        No results
    </li>
</ul>

<!-- Load more questions button -->
<div class="line-block">
    <div class="action">
        <span *ngIf="allQuestionsLoaded">(no more questions available)</span>
        <button *ngIf="!allQuestionsLoaded" type="button" mat-flat-button (click)="loadNextQuestions()">Load more questions</button>
    </div>
</div>