.container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    div {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        button {
            margin-top: 16px;
            text-transform: uppercase;
        }
    }
}